<html>
<head>
	<%= stylesheet_link_tag "style4.css" %>
	<script src="javascript4.js"></script>
	<link rel="icon" href="images/favicon.ico"/>
	<title>World's Largest Professional Network | LinkedIn</title>
</head>
<body onload="hide_other_options()">

	<div class="container">
		<img src="images/logo1b.png">
		<div class="content">

			<div class="blue_div">
				Confirm Your Email Address
				<p><label class="Normalfont">A confirmation email has been sent to <strong>TestAcount@gmail.com</strong>. Click on the confirmation link in the email to activate your account.</label></p>
				<input class="button1" id="button1" type="submit" value="Go to Gmail Now">
			</div>

		</div>

		<div class="footer">
			<div class="smallfont" >LinkedIn Corporation &copy 2013</div>
			<div class="smallfont" id="no_border">Commercial use of this site without express authorization is prohibited.</div>
		</div>
	</div>
</body>
</html>