<html>
<head>
	<%= stylesheet_link_tag "style3.css" %>
	<script src="javascript3.js"></script>
	<link rel="icon" href="images/favicon.ico"/>
	<title>World's Largest Professional Network | LinkedIn</title>
</head>
<body onload="hide_other_options()">

	<div class="container">
		<img src="images/logo1b.png">
		<div class="content">

			<div class="blue_div">
				Confirm Your Google Account
				<p><label class="Normalfont">Click below to sign in with Google and verify your email address.</label></p>
				<p>
					<label class="Normalfont">We'll also check your Google contacts to see who you already known on LinkedIn.</label>
				</p>
				<input class="button1" id="button1" type="submit" value="Confirm my Google Account">
				<label class="Normalfont"><a href="#">Send a confirmation email instead</a></label>
			</div>

		</div>

		<div class="footer">
			<div class="smallfont" >LinkedIn Corporation &copy 2013</div>
			<div class="smallfont" id="no_border">Commercial use of this site without express authorization is prohibited.</div>
		</div>
	</div>
</body>
</html>