<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" href="favicon.png" type="image/png" />
	<title>What is LinkedIn | LinkedIn</title>
	<!-- <link rel="stylesheet" href="styles/what_is_linkedin.css" /> -->

	<%= stylesheet_link_tag "what_is_linkedin.css" %>
	
</head>
<body>
	<header id="TheHeader">
		<div id="HeaderWrapper">
			<div id="logo">
				<a href="#"><img src="images/logo.png" /></a>
			</div>
			<ul id="header_links">
				<li><a id="links" href="#">What is LinkedIn?</a></li>
				<li><a id="links" href="join">Join Today</a></li>
				<li><a id="links" href="signin">Sign In</a></li>
			</ul>
		</div>
	</header>
	<section id="BodyWrapper">
		<div id="Heading">
			<h1>The world's largest professional network:</h1>
			<div>
				<h1>225 million strong.</h1>
			</div>
		</div>
		<div id="Callouts">
			<ul>
				<li id="CalloutConnect">
					<h2>Connect. Find. Be found.</h2>
				</li>
				<li id="CalloutPower">
					<h2>Power your career.</h2>
				</li>
				<li id="CalloutLearn">
					<h2>Learn and share.</h2>
				</li>
			</ul>
			<ul>
				<li id="CalloutConnect">
					<div id="ImageConnect"></div>
					<p>Build your professional identity online and stay in touch with colleagues and classmates.</p>
				</li>
				<li id="CalloutPower">
					<div id="ImagePower"></div>
					<p>Discover professional opportunities, business deals, and new ventures.</p>
				</li>
				<li id="CalloutLearn">
					<div id="ImageLearn"></div>
					<p>Get the latest news, inspiration, and insights you need to be great at what you do.</p>
				</li><!---->
			</ul>
		</div>
		<div>
			<div id="JoinNow">
				<p id="Join">It's free.</p>
				<a id="JoinButton" href="join">Join now</a> 
			</div>
		</div>
	</section>
	<footer id="footer">
		<div id="footer_wrapper">
			<ul id="footer_nav">
				<li><strong><a id="help_center" href="#">Help Center</a></strong></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Press</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Advertising</a></li>
				<li><a href="#">Talent Solotions</a></li>
				<li><a href="#">Tools</a></li>
				<li><a href="#">Mobile</a></li>
				<li><a href="#">Developers</a></li>
				<li><a href="#">Publishers</a></li>
				<li><a href="#">Language</a></li>
				<li id="last"><a href="#">SlideShare</a></li>
			</ul>
			<ul  id="footer_nav">
				<li><a href="#">LinkedIn Updates</a></li>
				<li><a href="#">LinkedIn Influencers</a></li>
				<li><a href="#">LinkedIn Jobs</a></li>
				<li><a href="#">Jobs Directory</a></li>
				<li><a href="#">Company Directory</a></li>
				<li><a href="#">Groups Directory</a></li>
				<li id="last"><a href="#">Title Directory</a></li>
			</ul>
			<div id="copyright">
				<div id="copy_text">&copy 2013</div>
			</div>
			<ul id="conditions">
				<li id="Space"><a href="agreement">User Agreement</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Community Guidelines</a></li>
				<li><a href="#">Cookie Policy</a></li>
				<li id="last"><a href="#">Copyright Policy</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>