<!doctype>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" href="favicon.png" type="image/png" />
	<title>Sign In | LinkedIn</title>
	<!-- <link rel="stylesheet" href="styles/sign_in.css" /> -->
	<%= stylesheet_link_tag "sign_in.css" %>

	<script src="jquery.js"></script>
	<script>
	function MyFunction()
	    {
	        $(document).ready(function(){
               if( $("#email").val()==""  && $("#password").val()=="")
               {
               		$("#Error1").removeClass("hidden").addClass("shown");
               		$("#Error2").removeClass("hidden").addClass("shown");
               		$("#Error2 p").text("Please enter a value.");
               		$("#Error3").removeClass("hidden").addClass("shown");
               		$("#Error3 p").text("Please enter a password.");
              		$("#email").removeClass("Ihidden").addClass("Ishown");
               		$("#password").removeClass("Ihidden").addClass("Ishown");
               }
               else if( $("#email").val()==""  && $("#password").val()!="")
               {
               		$("#Error1").removeClass("hidden").addClass("shown");
               		$("#Error2").removeClass("hidden").addClass("shown");
               		$("#Error2 p").text("Please enter a value.");
               		$("#Error3").removeClass("shown").addClass("hidden");
              		$("#email").removeClass("Ihidden").addClass("Ishown");
               		$("#password").removeClass("Ishown").addClass("Ihidden");
               }
               else if( $("#email").val()!=""  && $("#password").val()=="")
               {
               		$("#Error1").removeClass("hidden").addClass("shown");
               		$("#Error2").removeClass("shown").addClass("hidden");
               		$("#Error3").removeClass("hidden").addClass("shown");
               		$("#Error3 p").text("Please enter a password.");
              		$("#email").removeClass("Ishown").addClass("Ihidden");
               		$("#password").removeClass("Ihidden").addClass("Ishown");
               }
               if( $("#email").val()!="" )
               {
	               if( $("#email").val().length < 3 ) 
	               {
	               		$("#Error1").removeClass("hidden").addClass("shown");
	               		$("#Error2").removeClass("hidden").addClass("shown");
	               		$("#Error2 p").text("The text you provided is too short (the minimum length is 3 characters, your text contains "+$("#email").val().length+" characters).");
	               		$("#email").removeClass("Ihidden").addClass("Ishown");
	               	}
	               	else
               		{
	               		// Check if there are not more than 1 @ symbol
	               		var pos = 0;
						var num1 = 0;
						var index = -1;
						var i = -1;
	               		while (pos != -1)
	               		{
						    pos = $('#email').val().indexOf("@", i + 1);
						    if ( pos != -1 )
						    {
						    	num1 += 1;	
						    }
						    i = pos;
						}
						if ( num1 == 1 )
						{
							// Check that @ symbol & . symbol should come on other than 0 Index
		               		i = $('#email').val().indexOf("@");
		               		var j = $('#email').val().indexOf(".");
							if ( i > 0 && j > 0 )
							{
								// Check that . symbol should not come right after @ symbol
								if ( $('#email').val().indexOf(".") - 1 != i )
								{
									// Check to get last . symbol & no two . symbol could occur together
			               			i = $('#email').val().indexOf("@") +1;
			               			pos = 0;
									num1 = 0;
									var num2 = -1;
									while (pos != -1)
				               		{
									    pos = $('#email').val().indexOf(".", i + 1);
									    if ( pos != -1 )
									    {
									    	num2 = pos;
									    	num1++;
									    	if ( $('#email').val().indexOf(".", num2 + 1) - num2 == 1 )
									    	{
									    		pos = -1;
									    		num1 = 555;
									    	}	
									    }
									    i = pos;
									}
				               		if ( num1 != 555 )
				               		{	
				               			// Check if the string exists between last . symbol & @ symbol & atleast string of 2 characters comes after last . symbol
										num1 = $('#email').val().indexOf('@');
										var num3 = $("#email").val().length;
					               		
					               		if ( ( num2 - num1 > 1 ) && ( num3 - num2 - 1 > 1 ) )
					               		{
					               			// Email Format Correct
					               			$("#Error2").removeClass("shown").addClass("hidden");	
					               			$("#email").removeClass("Ishown").addClass("Ihidden");
					               		}
					               		else
								        {
								        	$("#Error1").removeClass("hidden").addClass("shown");
										    $("#Error2").removeClass("hidden").addClass("shown");
						               		$("#Error2 p").text("Please enter a valid email address.");	
							        		$("#email").removeClass("Ihidden").addClass("Ishown");
								        }
						            }
						            else
							        {
							        	$("#Error1").removeClass("hidden").addClass("shown");
									    $("#Error2").removeClass("hidden").addClass("shown");
					               		$("#Error2 p").text("Please enter a valid email address.");	
							        	$("#email").removeClass("Ihidden").addClass("Ishown");
							        }
						        }
						        else
						        {
						        	$("#Error1").removeClass("hidden").addClass("shown");
								    $("#Error2").removeClass("hidden").addClass("shown");
				               		$("#Error2 p").text("Please enter a valid email address.");	
						        	$("#email").removeClass("Ihidden").addClass("Ishown");
						        }  	
				            }
				        	else
					        {
					        	$("#Error1").removeClass("hidden").addClass("shown");
							    $("#Error2").removeClass("hidden").addClass("shown");
			               		$("#Error2 p").text("Please enter a valid email address.");	
					        	$("#email").removeClass("Ihidden").addClass("Ishown");		
					        }    
				        }
				        else
				        {
				        	$("#Error1").removeClass("hidden").addClass("shown");
						    $("#Error2").removeClass("hidden").addClass("shown");
		               		$("#Error2 p").text("Please enter a valid email address.");	
				        	$("#email").removeClass("Ihidden").addClass("Ishown");		
				        }
				    }
                }
                if ( $("#password").val()!="" )
                {
               		if ( $("#password").val().length < 6 )
               		{
	               		$("#Error1").removeClass("hidden").addClass("shown");
	               		$("#Error3").removeClass("hidden").addClass("shown");
	               		$("#Error3 p").text("The password you provided must have at least 6 characters.");
	               		$("#password").removeClass("Ihidden").addClass("Ishown");
	               	}
	               	else
	               	{
	               		$("#Error1").removeClass("hidden").addClass("shown");
	               		$("#Error3").removeClass("shown").addClass("hidden");
	               		$("#Error3 p").text("Please enter a password.");
	               		$("#password").removeClass("Ishown").addClass("Ihidden");
	               		if ( $("#email").val()!="" )
	               		{
	               			$("#Error1").removeClass("shown").addClass("hidden");
	               			$("#Error2").removeClass("shown").addClass("hidden");
		               		$("#email").removeClass("Ishown").addClass("Ihidden");
	               		}		
	               	}
               }
            });
        }
    </script>
</head>
<body>
	<header id="TheHeader">
		<div id="HeaderWrapper">
			<a href="#"><img id="Logo" src="images/logo.png" /></a>
			<ul id="LinksList">
				<li><a href="linkedin">What is LinkedIn?</a></li>
				<li><a href="join">Join Today</a></li>
				<li><a href="signin">Sign In</a></li>
			</ul>
		</div>
	</header>
	<section id="BodyWrapper">
		<div>
			<h1> Sign in to LinkedIn </h1>
		</div>
		<div id="Error1" class="hidden">
			<p>
				There were one or more errors in your submission. Please correct the marked fields below.
			</p>
		</div>
		<div id="Form">
			<form name="Login" id="Login" method="POST" action="sign_in.html">
				<ul>
					<li>
						<label>Email address:</label>
						<div id="Error2" class="hidden">
							<p>
								Please enter a value.
							</p>
						</div>
						<div id="DivEmail">
							<input class="Ihidden" type="text" name="email" value="" id="email">
						</div>
					</li>
					<li>
						<label>Password:</label>
						<div id="DivPassword">
							<div id="Error3" class="hidden">
							<p>
								Please enter a password.
							</p>
						</div>
							<input class="Ihidden" type="password" name="password" value="" id="password">
							<a id="ForgetPassword" href="forgotpass">Forgot password?</a>
						</div>
					</li>
					<li id="button">
						<input type="button" name="submit" value="Sign In" id="submit" onclick="MyFunction();">
						<div id="Join">
							or <a href="join">Join LinkedIn</a>
						</div>
					</li>
				</ul>
			</form>
		</div>
	</section>
	<footer id="FooterWrapper">
		<div id="FooterDiv">
			<p id="Copyright">
				<img id="FLogo" src="images/footerlogosignin.png" /> 
			</p>
			<div id="DivYear">
				&copy; 2013
			</div>
			<ul>
				<li id="FirstLink"><a href="agreement"> User Agreement </a></li>
				<li id="FirstLink"><a href="#"> Privacy Policy </a></li>
				<li id="FirstLink"><a href="#"> Community Guidelines </a></li>
				<li id="FirstLink"><a href="#"> Cookie Policy </a></li>
				<li id="FirstLink"><a href="#"> Copyright Policy </a></li>
			</ul>
		</div>
	</footer>
</body>
</html>