<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" href="images/favicon.ico"/>
	<title>World's Largest Professional Network | LinkedIn</title>
	
	<%= stylesheet_link_tag "logout.css" %>
</head>
<body>
	<header id="TheHeader">
		<div id="HeaderWrapper">
			<div id="logo">
				<a href="#"><img src="images/logo.png" /></a>
			</div>
			<ul id="header_links">
				<li><a id="links" href="../../page/linkedin">What is LinkedIn?</a></li>
				<li><a id="links" href="../../page/join">Join Today</a></li>
				<li><a id="links" href="../../page/signin">Sign In</a></li>
			</ul>
		</div>
	</header>
	<section id="body_wrapper">
		<h1><strong>You have signed out</strong></h1>
		<div class="slider">
			<img src="/images/slider.png">
		</div>

		<div class="groups">
			<div class="heading">
				<div class="heading_text">
					<strong>Ads You May Be Interested In</strong>
				</div>
			</div>
			<div class="ads_group">
				<div class="ads">
					<img src="images/FinancialService.png">
					<h5>Financial Services</h5>
					<p>Apply now on our website and get your loan approved within 48 hours.</p>
				</div>
				<div class="ads">
					<img src="images/favicon.ico">
					<h5>B2B Marketing?</h5>
					<p>Generate B2B Leads on LinkedIn. Target VPs, CXOs & Decision Makers</p>
				</div>
				<div class="ads">
					<img src="images/FinancialService.png">
					<h5>LinkedIn Ads with Video</h5>
					<p>Use the power of video to reach your target audience on LinkedIn</p>
				</div>
				<div class="ads">
					<img src="images/favicon.ico">
					<h5>LinkedIn Company Pages</h5>
					<p>Open your business to the world's largest professional network</p>
				</div>
				<div class="ads">
					<img src="images/favicon.ico">
					<h5>LinkedIn Careers</h5>
					<p>Want A Career At Linkedin? View Jobs At Linkedin You May Be Interested In</p>
				</div>
			</div>
		</div>
	</section>
	<div id="footer">
		<div id="footer_wrapper">
			<ul id="footer_nav">
				<li><strong><a id="help_center" href="#">Help Center</a></strong></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Press</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Advertising</a></li>
				<li><a href="#">Talent Solotions</a></li>
				<li><a href="#">Tools</a></li>
				<li><a href="#">Mobile</a></li>
				<li><a href="#">Developers</a></li>
				<li><a href="#">Publishers</a></li>
				<li><a href="#">Language</a></li>
				<li id="last"><a href="#">SlideShare</a></li>
			</ul>
			<ul  id="footer_nav">
				<li><a href="#">LinkedIn Updates</a></li>
				<li><a href="#">LinkedIn Influencers</a></li>
				<li><a href="#">LinkedIn Jobs</a></li>
				<li><a href="#">Jobs Directory</a></li>
				<li><a href="#">Company Directory</a></li>
				<li><a href="#">Groups Directory</a></li>
				<li id="last"><a href="#">Title Directory</a></li>
			</ul>
			<div id="copyright">
				<div id="copy_text">&copy 2013</div>
			</div>
			<ul id="conditions">
				<li><a href="agreement">User Agreement</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Community Guidelines</a></li>
				<li><a href="#">Cookie Policy</a></li>
				<li id="last" class="bottom"><a href="#">Copyright Policy</a></li>
			</ul>
		</div>
	</div>
</body>
</html>