*{
	margin: 0;
	padding: 0;
}


header, footer, section, div{
	display: block;
}


body{
	font-family: arial;
	background-color: #e6e6e6;
	line-height: 1.2;
	font-size: 62.5%;
	overflow: scroll;
	overflow-x: hidden;
}


a{
	text-decoration: none;
	color: #069;
}


a:hover{
	text-decoration: underline;
}


abbr{
	font-size: 13px;
}


.smaller{
	font-size: 11px;
	color: #666;
}


#big_wrapper{
	width: 807px;
	min-width: 807px;
	margin-left: auto;
	margin-right: auto;
}


#the_header{
	padding: 0 1px 6px 1px;
}


#logo_container{
	display: inline-block;
}


#the_header img{
	margin: 8px 10px 0 4px;
}


#sign_in{
	float: right;
	line-height: 39px;
}


#main_section{
	padding: 15px;
	background: #ffffff;
	border: 1px solid #CCCCCC;
}


#arrow{
	/*padding-bottom: 11px;*/
	margin-left: 114px;
	margin-bottom: 2px;
}


#main_section_header h1{
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	line-height: 23px;
	padding: 16px 18px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #91cce7), color-stop(100%, #00679a));
	background: -moz-linear-gradient(top, #91cce7 0%, #00679a 100%);
	border-radius: 5px;
}


#form_wrapper{
	width: 57.9%;
	border-right: 1px solid #ccc;
	margin: 10px 0 25px 0;
	float: left;
}


#join_in{
	padding-left: 20px;
}


#join_in ul{
	list-style-type: none;
}


#join_in li{
	margin-bottom: 7px;
	display: inline-block;
}


#join_in label{
	width: 97px;
	padding: 3px 0;
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	float: left;
	text-align: right;
}


#join_in div{
	display: inline-block;
}


#join_in input{
	width: 267px;
	font-size: 13px;
	margin-left: 8px;
	border: 1px solid #999;
	padding: 2px 3px;
	display: inline-block;
}


#join_in input:focus{
	outline: none;
	border: 2px solid #006fa0;
	border-radius: 2px;
	padding: 1px 2px;
}


#join_in p{
	margin-left: 105px;
	font-size: 11px;
	color: #666;
	margin-top: .28em;
}


form button{
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afd47b), color-stop(5%, #afd47b), color-stop(5%, #8bc03f), color-stop(100%, #69a219));
	background: -moz-linear-gradient(top, #afd47b 0, #afd47b 1px, #8bc03f 1px, #69a219 100%);
	border: 1px solid #693;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	font-size: 12px;
	line-height: 1.35;
	padding: 3px 10px 2px;
	vertical-align: top;
}


form button:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #94bd5b), color-stop(5%, #94bd5b), color-stop(5%, #649f15), color-stop(100%, #5d8329));
	background: -moz-linear-gradient(top, #94bd5b 0, #94bd5b 1px, #649f15 1px, #5d8329 100%);
}


#already{
	font-size: 13px;
	margin-left: 105px;
	margin-top: 15px;
	line-height: 17px;
	color: #333;
}


#fb_wrapper{
	width: 42%;
	text-align: center;
	display: inline;
}


#writing{
	display: inline-block;
	margin: 24px 0 13px 2px;
}



#sign_up_fb{
	background: #29447e url('../images/fb_icon.png') 0 -44px no-repeat;
	display: inline-block;
	padding-left: 1px;
	margin-bottom: 10px;
}


#sign_up_fb:hover{
	text-decoration: none;
}


#sign_up_fb span{
	background: #5f78ab;
	border-top: 1px solid #879ac0;
	border-bottom: 1px solid #1a356e;
	color: #fff;
	display: block;
	font-weight: bold;
	font-size: 11px;
	padding: 2px 6px 3px 6px;
	margin: 1px 1px 0 21px;
	height: 14px;
}


#fb_wrapper abbr{
	font-size: 13px;
	vertical-align: super;
}


#agreement{
	clear: both;
	font-size: 110%;
	border-top: 1px solid #ccc;
	color: #555;
	padding-top: 15px;
	text-align: center;
}


#the_footer{
	width: 805px;
	min-width: 805px;
	font-size: 110%;
	color: #666;
	padding-left: 5px;
	margin: 20px auto;
	clear: both;
	position: relative;
}


p#copywrite{
	float: left;
	border-right: 1px solid #ccc;
	padding-right: 8px;
	margin-right: 8px;
}


p#terms{
	margin-bottom: 8px;
}