*{
	padding: 0px;
	margin: 0px;
}


header, section, aside, hgroup, nav{
	display: block;
}
.slider img
{
	width: 972px;
	height: 315px;
}

.groups
{
	width: 972px;
	height: 177px;
}
.heading
{
	width: 972px;
	height: 37px;
	background-color: #C8C8C8;
	margin-top: 5px;
}

.ads
{
	width: 310px;
	height: 69px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.ads_group
{
	background-color: white;
	
	width: 972px;
	height: 150px;
}
.heading_text
{
	padding-top: 7px;
}
.ads img{
	width: 50px;
	height: 50px;
	float: left;
}

.ads h5{
color: #0077B5;
}

.ads p{
font-size: 12px;
color: gray;
}

body{
	overflow: scroll;
	background: #e9e9e9 url('images/texture_grain_200x200_v2.png');
	font-family: arial;
	font-style: normal;
}


ul{
	list-style: none outside none;
}


a{
	color: #0077b5;
	text-decoration: none;
}


a:hover{
	text-decoration: underline;
}


#TheHeader{
	background-image: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%); /* Chrome and safari */
	background-image: -moz-linear-gradient(top, #696969 0%,#3f3f3f 100%); /* Firefox */
	width: 100%;
	height:42px;
	box-shadow: 0 0 10px #333;
	line-height: 17px;
	position: fixed;
	top: 0;
}


#HeaderWrapper{
	width: 974px;
	margin-left: auto;
	margin-right: auto;
}


#logo{
	float: left;
	margin-top: 11px;
	padding-left: 0;
	position: relative;
	left: -1px;
}


#header_links{
	float: right;
	margin-top: 11px;
}


#header_links li{
	margin-top: -1px;
	display: inline-block;
	list-style: none;
	float: left;
}


#header_links a{

	color:#D7D7D7;
	font-size: 13px;
	text-decoration:none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 13px;
	padding-bottom: 14px;
}


#header_links a:hover{
	color: #0099CC;
}


#header_links a:active{
	background-color: #333333;
}


#body_wrapper{
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	margin-bottom: 10px;
}


#bar_wrapper{
	padding: 10px 10px 0 10px;
}


#bar{
	background-color: #fee;
	background: url("../images/error.png") no-repeat scroll 7px -643px rgb(255, 238, 238);
	padding: 6px 7px 6px 35px;
	margin-bottom: 5px;
}


#bar p{
	font-size: 13px;
	margin: 6px 21px 6px 7px;
	font-weight: bold;
}


#content{
	width: 420px;
	float: left;
	padding: 10px;
}


#content h1{
	font-size: 18px;
	font-weight: bold;
	color: rgb(51, 153, 204);
	line-height: 1.55;
	margin-bottom: 15px;
}


#content li{
	color: rgb(102, 102, 102);
	background: url("../images/list.png") no-repeat scroll 0% 0% transparent;
	margin: 0px 0px 6px;
	font-size: 13px;
}


#content #reconnect{
	padding: 7px 0px 10px 68px;
	background-position: 0px 3px;
}


#content #answers{
	background-position: 5px -222px;
	padding: 12px 0px 10px 68px;
}


#content #power{
	background-position: 0px -144px;
	padding: 7px 0px 10px 68px;
}


#form{
	width: 320px;
	float: right;
	margin-bottom: 30px;
	padding: 10px;
}


#form_header{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73b8db), color-stop(100%, #4393bb));
	background: -moz-linear-gradient(center top , rgb(115, 184, 219) 0px, rgb(67, 147, 187) 100%) repeat scroll 0% 0% transparent;
	color: #fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 5px 10px;
}


#form_header h2{
	font-size: 14px;
	font-weight: bold;
}


#form_content{
	padding: 10px 10px 5px;
	background: #fff;
	border: 1px solid #ddd;
	border-width: 0 1px 1px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}


#form_content li{
	margin-bottom: 8px;
	overflow: hidden;
	display: list-item;
	text-align: -webkit-match-parent;
}


#sign_up label{
	display: block;
	float: left;
	width: 100px;
	text-align: right;
	font-weight: bold;
	font-size: 13px;
	line-height: 2.3;
	color: #333;
	margin-right: 10px;
}


#error{
	font-weight: bold;
	color: #900;
	font-size: 13px;
}


#sign_up input{
	margin: 3px 7px 0 0;
	width: 175px;
	padding: 1px 0px;
}


#sign_up p{
	font-size: 11px;
	line-height: 1.5;
	color: #666;
	width: 180px;
	clear: both;
}


#action{
	margin: 0 0 8px 110px;
	text-align: left;
}


.button{
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	font-size: 12px;
	line-height: 1.35;
	padding: 3px 10px 2px;
	cursor: pointer;
	vertical-align: top;
	font-family: arial;
}


#submit{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afd47b), color-stop(5%, #afd47b), color-stop(5%, #8bc03f), color-stop(100%, #69a219));
	background: -moz-linear-gradient(center top , rgb(175, 212, 123) 0px, rgb(175, 212, 123) 1px, rgb(139, 192, 63) 1px, rgb(105, 162, 25) 100%) repeat scroll 0% 0% transparent;
	border-color: #693;
	color: #fff;
	font-weight: bold;
}


#submit:hover{
	background: #69a219;
}


#submit:active{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #69a219), color-stop(5%, #8bc03f), color-stop(5%, #afd47b), color-stop(0%, #afd47b));
	background: -moz-linear-gradient(center top , rgb(105, 162, 25) 0px, rgb(139, 192, 63) 1px, rgb(175, 212, 123) 1px, rgb(175, 212, 123) 100%) repeat scroll 0% 0% transparent;
}


#action a{
	font-size: 18px;
	color: #666;
	cursor: text;
	margin-left: -1px;
}


#action a:hover{
	text-decoration: none;
}


#already{

	margin: -1px 0 8px 110px;
	font-size: 11px;
}


#already a:hover{
	text-decoration: underline;
}


.bottom_wrapper{
	text-align: center;
	margin: 10px 0 20px;
	padding-bottom: 17px;
	padding-right: 10px;
	padding-left: 10px;
}


.bottom_content{
	border-top: 1px solid #CCC;
	padding: 20px 0 0;
	margin-bottom: 14px;
}


#search{
	clear: both;
}


#search h3{
	display: inline-block;
	padding-right: 9px;
	color: #666;
	font-weight: bold;
	font-size: 16px;
}


#search_form input[type="text"]{
	width: 150px;
	padding: 1px 0px;
	margin-right: 9px;
	margin-top: 2px;
}


#search_button{
	line-height: 1.3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(5%, #f2f2f2), color-stop(5%, #e4e4e4), color-stop(100%, #cecece));
	background: -moz-linear-gradient(center top , rgb(242, 242, 242) 0px, rgb(242, 242, 242) 1px, rgb(228, 228, 228) 1px, rgb(206, 206, 206) 100%) repeat scroll 0% 0% transparent;
	border-color: #999;
	color: #666;
}


#search_button:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e4e4e4), color-stop(5%, #e4e4e4), color-stop(5%, #c8c8c8), color-stop(100%, #b7b7b7));
}


#search_button:active{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #cecece), color-stop(5%, #e4e4e4), color-stop(5%, #f2f2f2), color-stop(0, #f2f2f2));
	background: -moz-linear-gradient(center top , rgb(206, 206, 206) 0px, rgb(228, 228, 228) 1px, rgb(242, 242, 242) 1px, rgb(242, 242, 242) 100%) repeat scroll 0% 0% transparent;
}


#directory_text{
	padding: 0 0 0 8px;
	display: inline;
}


#smaller{
	display: inline;
	color: #666;
	font-weight: normal;
	font-size: 11px;
}


#smaller a{
	color: #0077b5;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}


#smaller a:hover{
	text-decoration: underline;
}


#country{
	margin-top: 1px;
}


.agreement_wrapper{
	padding: 0 10px;
	text-align: left;
}


.agreement_content{
	border-top: 1px solid #CCC;
	padding: 20px 0 0;
	clear: both;
	margin-bottom: 30px;
	color: #666;
	font-weight: normal;
	font-size: 11px;
}


.agreement_content strong{
	font-size: 14px;
}


.agreement_content a:hover{
	text-decoration: underline;
}


#footer{
	border-top: 1px solid #CCC;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 974px;
	margin-left: auto;
	margin-right: auto;
}


#footer_wrapper ul[id="footer_nav"] li{
	display: inline;
	margin-bottom: 4px;
	border-right: 1px solid #ccc;
	margin-right: 8px;
	margin-top: 5px;
	padding-right: 8px;
	float: left;
	font-size: 80%;
}


#footer_wrapper ul li[id="last"]{
	border: 0;
}


#footer_wrapper ul[id="conditions"]{
	display: inline;
	font-size: 95%;
	margin-top: -1;
}


#copyright{
	background: url('../images/copy.png') no-repeat scroll top left transparent;
	clear: both;
	float: left;
	display: inline;
	width: 105px;
	height: 16px;
	border-right: 1px solid #ccc;
	margin-right: 8px;
	padding-right: 8px;
	margin-top: 3px;
}


#copy_text{
	clear: both;
	padding-left: 65px;
	font-size: 73%;
	color: #666;
	margin-top: 1px;
}


#conditions li{
	float: left;
	border-right: 1px solid #ccc;
	margin-right: 8px;
	font-size: 80%;
	padding-right: 8px;
	margin-top: 4px;
}


.bottom{
	padding-bottom: 15px;
}